ul.events-list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    margin-bottom: 1em;
}

ul.events-list li {
    display: flex;
    flex-direction: column;
}

ul.events-list li header {
    width: 100%;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
}

ul.events-list li strong {
    margin-top: 1em;
    font-size: 1.1em;
    color: white;
}

@media (max-width:768px) {
    ul.events-list {
        grid-template-columns: 1fr;
    }
}