.events {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.events li {
    padding: 1em;
    margin: 1rem;
    background-color: whitesmoke;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.events div {
    margin-top: 0.5rem;
}

.events-details span {
    margin: 0.5rem;
}

.Approved {
    color: green;
}

.Rejected {
    color: red;
}

.Pending {
    color: blue;
}