label#thumbnail {
    border: 1px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 25vh;
}

label#thumbnail input {
    display: none;
}

label#thumbnail.has-thumbnail img {
    display: none;
}